.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  min-height: 65vh;
  max-width: 40vh;
  padding: 10px;
}

.main-text {
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 15px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.learn-button {
  border-radius: 25px;
  align-items: flex-end;
}

#sedan {
  background-color: hsl(31, 77%, 52%);
}

#suv {
  background-color: hsl(184, 100%, 22%);
}

#luxury {
  background-color: hsl(179, 100%, 13%);
}
